/*Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* Possible alternate purple color: #B338B7, current is #9900FF */
body{
	font-family: 'Raleway', sans-serif;
	margin:0;
	padding:0;
	background:#fff;
 }
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}
ul{
margin:0;
padding:0;
}
/*--header--*/
.banner{
  background: url("../images/homepage_image.2160.jpg") no-repeat;
  background-size: cover;
  min-height: 942px;
}
.banner-right-text h3 {
  text-align: right;
  color: #BEBEBE;
  font-size: 2em;
   margin: 12px 0;
  font-weight: 600;
}
.banner-right-text {
  float: right;
}
.banner-right-text h3  {
	text-decoration:none !important;
}
.banner-right-text h3 span {
  margin: 0 12px;
  color: #F82F27;
  font-weight: 600;
  font-size: 18px;
}
.banner-right-text h3  i {
	  font-weight: 100;
  font-size: 18px;
  font-style:normal;
  color: #BEBEBE;
}
.fifthave {
  border-radius: 5px;
	margin-bottom: 2em;
	height:476px;
	width:585px;
}
.navbar-default .navbar-nav > li > a{
  background:none;
  color:#1f201d;
  font-size:18px;
  font-weight:600;
  border-right: 1px solid #dedddd;
  font-family: 'Ubuntu', sans-serif; !important;
}
.nav > li > a {
  padding: 7px 15px !important;
  background: none !important;
  font-size: 1.1em;
  color: #BEBEBE;
  font-weight: bold;
  width: 100%;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif !important;
	/* display:inline-block;
	border-width:1px 0 1px 0;
	border-style:solid;
	height:15px; */
}
.nav > li > a:hover {
  /* color: #B338B7 !important; */
	/* color: #AA728B !important; */
	/* text-decoration:underline; */
  /* color:#FFF; */
	color:#FFEFF6;
	transition: 1s all;
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  -o-transition: 1s all;
  -ms-transition: 1s all;
}

.navbar-nav {
  /*	float: left; */
  padding: 0 0;
  width: 100%;
  margin: 2.6% auto 2.6%;
	text-align: center;
  background: rgba(0, 0, 0, 0.49);
}
ul.nav.navbar-nav li a.active {
  /* color: #B338B7 !important; */
	/* color: #AA728B !important; */
	text-decoration:underline;
	color:#FFEFF6;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #da4a06;
  background: none;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #da4a06;
  background: none;
}
.navbar-default .navbar-collapse{
  border-color: #fbfbfb;
  box-shadow: 4px 0px 15px 4px #E6E6e6;
}
.navbar-nav > li {
  display: inline-block !important;
	float: none;
}
.middl-text {
  background: rgba(0, 0, 0, 0.49);
  width: 45%;
	padding: 2em 0 1em;
  margin-top: 28em;
	margin-left:auto;
}
.middl-text a{
	text-decoration: none;
}	
.middl-text h1 {
  font-family: 'Voltaire', sans-serif;
  font-size: 11em;
  margin-left: 0.6em;
  font-weight: 900;
  color: #fff;
  text-decoration: none;
}
.middl-text p {
   color: #E7E7E7;
  font-size: 1.1em;
  text-transform: uppercase;
  /*  padding: 2em 0 0; */
  margin-left: 4em;
  line-height: 1.8em;
}
.middl-text2 a{
	text-decoration:none;
}
.middl-text2 a h2{
	  font-family: 'Voltaire', sans-serif;
	  font-size: 4em;
  color: #fff;
  font-weight: 600;
}
.middl-text2 {
  background: rgba(0, 0, 0, 0.49);
  width: 100%;
  padding: 1.5em 0;
  margin: 0 auto;
  text-align: center;
}
.submenu {
	text-align:center;
}
/*--/header--*/
/*--welcome--*/
.welcome{
  padding: 5em 0 6em;
}
.welcome h4 {
  margin-top: 1em;
}
.relative {
  position: relative;
}
.relative h4 {  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  right: 105%;
  top: 0;
  white-space: nowrap;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  -webkit-transform-origin: right top;
  transform-origin: right top;
  font-size: 3em;
  color: #B338B7;
  text-transform: uppercase;
  font-weight: 900;
}
.welcome-text p {
  font-size: 1.1em;
  margin: 0em 0em 1em 0em;
  color: #A9A9A9;
}
p.second-text {
  margin: 0em 0em 1em 6em;
    color: #999999  !important;
}
/*--welcome-slider--*/
/* iframes */
.mapquest {
  text-align:center;
}
.mapquest iframe {
	height: 270px;
	width: 450px;
	border-radius: 5px;
}
.youtube {
	height: 270px;
	width: 450px;
  border-radius: 5px;
}
/* /iframes */
/* start equalizer */
.cf:before,
.cf:after {
    content: " "; 
    display: table; 
}
.cf:after {
    clear: both;
}
#eq {
	text-align:center;
} 
#eq span {
	height:300px; 
	display:inline-block;
	margin: 10px 32px; 
}
.wrp-eq {
	margin: 0 auto;
}
.ui-slider-vertical {
	width: 8px;
}
.ui-slider-vertical .ui-slider-range-min {
	background: #dadada;
}
.ui-slider-vertical .ui-slider-handle {
	left: -7px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	outline: none;
	cursor: pointer;
	border: 1px solid #3580AC;
	background: #418BB6;
}
.ui-corner-all {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
}
.herz {
	width: 397px;
	margin: 0 auto;
	padding-top: 20px;
}
.herz div {
	float: left;
	color: #A55C00;
	width: 44px;
	text-align: center;
	font-size: 12px;
	text-shadow: 1px 1px 0px #242424;
}
/* end	equalizer */
#container{  width: 25%;
  float: left;;height:100%;color:#ccc;text-align:center;line-height:50px;padding:20px 0 10px;}
#loader{height: 50px;
  width: 50px;
  border: 3px dashed #d9d9d9;
  margin: 0 auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  animation: loader 3s infinite linear;
  -webkit-animation: loader 3s infinite linear;}

@keyframes loader{
0% {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
50% {-webkit-transform:rotate(360deg);transform:rotate(360deg);}
100% {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
}

@-webkit-keyframes loader{
0% {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
100% {-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}

@-moz-keyframes loader{
0% {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
100% {-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}
/*--/welcome-slider--*/
/*--/welcome--*/
/*--detail-page--*/
.detail-page{
  padding: 6em 0 10em;
  border-bottom: 5px solid#999;
  padding-bottom: 5em;
}
.detail-page-address {
  text-align: center;
}
.detail-page-logo img {
  margin: 6em 0em 0em 0em;
}
.detail-page h2 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 900;
  font-size: 3em;
  text-align: center;
	color: #B338B7;
  padding: 0.25em 0 0.25em;
}
.detail-page h3 {
  color: #000000;
  font-size: 2em;
  font-weight: 600;
  padding: 1em 0 2em;
  text-align: center;
  text-transform: uppercase;
}
.detail-page h4 {
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  padding: 2em 0 1em 0;
}
.detail-page ul {
  margin: 1em 0;
}
.detail-page ul li {
  margin: 0 0 0.5em 1.5em;
	/* padding: 0 0 0 1em; */
}
.detail-page-address h5 {
  color: #3A3A3A;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1.6em;
    margin: 1em 0 0;
}
.detail-page-top-one h6 {
  width: 50%;
  margin: 0 auto;
  line-height: 1.8em;
  color: #7B7979;
}
.detail-page-top-one p {
  width: 50%;
  margin: 0 auto;
  line-height: 1.8em;
  color: #666565;
}
.detail-page-address p a {
  color: #858585;
  font-size: 1em;
  margin: 1em 0px;
  line-height: 1.8em;
}
.detail-page-address p a:hover {
  color: #F32E28;
}
.detail-page-top-right form input[type="text"] {
  width: 32.7%;
  color: #898888;
  outline: none;
  font-size: 1em;
  padding: 10px 10px;
  margin-bottom: 1em;
    border: solid 1px #6B6B6B;
  -webkit-appearance: none;
  background: none;
}
.detail-page-top-right form textarea {
  resize: none;
  width: 100%;
  color: #898888;
  font-size: 1em;
  outline: none;
  padding: 10px 10px;
  border: solid 1px #6B6B6B;
  min-height: 12em;
  -webkit-appearance: none;
   background: none;
}
.slider ul {
  margin:0 0 0 0;
}
.slider ul li {
  margin:0 0 0 0;
}
.sub-button {
  margin-top: .5em;
  text-align: center;
}
.sub-button input[type="submit"] {
  border: none;
  outline: none;
  color: #fff;
    background: #6E6E6E;
  padding: 9px 28px;
  font-size: 1.2em;
  font-weight: 600;
  -webkit-appearance: none;
  float: left;
}
.sub-button input[type="submit"]:hover {
    background: #F82F27;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.team{
	text-align:center;
	padding: 3em 0 0;
}
.team h2 {
  color: #F82F27;
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  padding: 0;
}
.team-grid-left,.team-grid-center {
  border: 5px solid #353535;
  margin-right: 11px;
  padding: 0;
  width: 20%;
	float:none;
	display:inline-block;
}
.team-grid-left,.team-grid-center:hover {
	/* border: 5px solid #F82F27; */
	border: 5px solid #B338B7;
}
.team-grid-left,.team-grid-center h4{
	font-size: 1.5em;
	font-weight: 700;
	color: #22383f;	
	padding: 0.5em 0;
}
.team-grid-left,.team-grid-center p{
  font-size: .9em;
  color: #999;
  padding: 23px 0px 23px 15px;
  text-align: center;
}
.team-grid {
	text-align: center;
	margin:auto;
	padding: 3em 0 0;
}
.video-grid p {
  text-align:center;
}
/*--/detail-page--*/
/*--footer--*/
.footer{
  background: #3D3D3D;
  padding: 2em 0 2em;
}
p.footer-info{
	float:left;
	color:#fff;
	margin: 17px 0 0 23px;
}
p.footer-info a{
	color:#fff;
}
p.footer-info a:hover{
	color:#E04444;
}
/*--/footer--*/
/*--responsive--*/
@media (max-width: 1920px){
	.banner {
	  min-height: 810px;
	}
	.banner2 {
	  min-height: 0;
	}
	.middl-text h1 {
	  font-size: 10em;
	}
}
@media (max-width: 1366px){
	.middl-text h1 {
	  font-size: 7em;
	}
}
@media (max-width: 1024px){
	.navbar-nav {
	  width: 70%;
	}
	.middl-text {
		visibility: hidden;
	  width: 55%;
	  margin-top: 4em;
	    padding: 1em 0;
	}
	.middl-text p {
	  font-size: 1em;
	  padding: 2em 0 0;
	  margin-left: 3em;
	  line-height: 1.8em;
	}
	.banner {
	  min-height: 500px;
	}
	.banner2 {
	  min-height: 0;
	}
	.detail-page {
	  padding: 4em 0 4em;
	}
	.detail-page-logo img {
	  margin: 8em 0em 0em 0em;
	  width: 188px;
	}
	.detail-page-top-right form input[type="text"] {
	  width: 32.6%;
	}
	.detail-page input[type="text"] {
	  width: 30.6%;
	}
  .team-grid-left,.team-grid-center {
	  width: 23.8%;
	}
}
@media (max-width: 768px){
	span.menu:before {
		content: url("../images/nav-icon.png");
		cursor: pointer;	
		height:32px;
	}
	.banner-2 {
	  min-height: 0px;
	}
	.fifthave {
	  height:238px;
	  width:293px;
  }
	.top-menu {
		width: 3%;
		  float: left;
		margin:0;
	}
	.top-menu  ul{
		display:none;
	}
	.top-menu  ul li {
	  font-size: 12px;
	  display: inline-block;
	  width: 100%;
	  padding: 0;
	  margin: 0;
	}
	.top-menu ul li a {
		   padding: 10px 10px;
		font-size: 13px;
		width: 100%;
		font-weight:600;
		display:block;
	}
	.top-menu ul li a:hover{
		color:#fff;
		  padding: 10px 10px;
	}
	 span.menu{
		display:block;
		  float: left;
		    margin: 34px 0 0 21px;
	}
	.top-menu  ul{
	  margin: 0;
	  z-index: 999;
	  position: absolute;
	  width: 96%;
	  text-align: center;
	    top: 9%;
	  left: 2%;
	     background: rgba(0, 0, 0, 0.9);
	}
	.middl-text img {
	  width: 50%;
	  margin-left: 11em;
	}
	.middl-text p {
	  font-size: .875em;
	}
	.banner {
	  min-height: 430px;
	}
	.middl-text {
		visibility: hidden;
	  width: 46%;
	  margin-top: 7em;
	}
	.relative {
	  width: 660px;
	}
	.relative h4 {
	    font-size: 2em;
	}
	.detail-page {
	  padding: 2em 0 2em;
	}
	.detail-page-logo img {
	  margin: 0;
	}
	.detail-page-logo {
	  text-align: center;
	}
	.banner2 {
	  min-height: 0;
	}
	.detail-page h2 {
		font-size: 2em;
	  padding: 0 0 .5em;
	}
	.detail-page h3 {
		font-size: 1.5em;
	  padding: 1em 0 1em;
	}
	.detail-page h4 {
		font-size: 1.25em;
	  padding: 1em 0 1em;
	}
	.title.title-1 {
	  font-size: 1em;
	  text-align: center;
	  padding: 14px 0;
	}
	.title.title-1 + .thumb-pad-2 {
	  margin-top: 25px;
	}
	.detail-page {
	  padding-bottom: 2em;
	}
	.detail-page-form-left {
	  text-align: center;
	}
	.row {
	  padding: 0em 0 0;
	}
	.detail-page-form {
	  padding: 2em 0 2em;
	}
	.detail-page-top-right form input[type="text"] {
	  width: 32.9%;
	}
	h3.title.title-1.about-h3 {
	  font-size: 1.8em;
	}
	.box.box-2 h6 {
	  margin: 20px 0 0;
	}
	p.footer-info {
	  margin: 17px 0 20px 0;
	  float: none;
	  text-align: center;
	}
	.middl-text h1 {
	   font-size: 5em;
	}
	.team h2 {
	  font-size: 1.7em;
	}
	.team {
	  padding: 1em 0 0;
	}
	.team-grid-left {
	  width: 48.47%;
	  float: left;
	  margin-bottom: 1em;
	}
	.team-grid-center {
	  width: 48.47%;
	  margin-bottom: 1em;
	}
	.mapquest iframe {
	  height: 146px;
	  width: 245px;
  }
	.youtube {
	  height: 135px;
	  width: 225px;
  }
}
@media (max-width: 667px){
	.relative {
	  width: 554px;
	}
	.middl-text h1 {
	  font-size: 4em;
	}
}
@media (max-width: 640px){
	.middl-text {
		visibility: hidden;
	  width: 44%;
	  margin-top: 0em;
	}
	.middl-text p {
	   padding: .9em 0 0em;
	  font-size: .85em;
	  margin-left: 1em;
	  line-height: 1.3em;
	}
	.banner {
	   min-height: 190px;
	}
	.middl-text img {
	  width: 48%;
	  margin-left: 7em;
	}
	.relative {
	  width: 550px;
	}
	ul.service_grid li.desc p {
	  font-size: .875em;
	  padding: 5px 0;
	}
	.relative h4 {
	  margin-top: 57px;
	}
	.title.title-1 {
	  padding: 0;
  		font-size: .9em;
	}
	.detail-page h2 {
	  font-size: 1.5em;
	  padding: 1.5em 0 1.1em;
	}
	.detail-page input[type="text"] {
	  width: 30.48%;
	}
	.container {
	   width: 613px;
  		margin-left: 0;
	}
	.relative h4 {
    position: none;
    transform: none;
    margin: 0em 0 0;
    top: -33px;
    right: 41%;
	}
.detail-page h4 {
  margin-right: -2em;
}
	.detail-page-top-right form textarea {
	  min-height: 9em;
	}
	.detail-page input[type="email"] {
	  margin: 0 .88em;
	}
.detail-page-logo {
  margin-top: 2em;
}
p.footer-info {
  float: none;
  color: #fff;
  margin: 17px 0 24px 0;
  text-align: center;
}
.detail-page-top-right form input[type="text"] {
  width: 32.7%;
}
h3.title.title-1.about-h3 {
  font-size: 1.5em;
    margin-top: .5em;
}
.box.box-2 h6 {
  margin: 38px 0 0 0;
}
.box.box-2 h6 + p {
  line-height: 1.8em;
    font-size: .91em;
}
.middl-text h1 {
  font-size: 4em;
}
	.team-grid-left {
	   width: 44%;
  margin-left: 23px;
	}
	.team-grid {
	  padding: 2em 0 0;
	}
}
@media (max-width: 600px){
	.container {
	  width: 582px;
	
}
@media (max-width: 568px){
	.container {
	  width: 543px;
	}
	.middl-text h1 {
	  font-size: 3em;
	}
}
@media (max-width: 480px){
	.container {
	  width: 460px;
	}
	.middl-text p {
	  font-size: .6em;
	  margin-left: 3em;
	}
	.relative h4 {
	  right: 40%;
	  margin: 0;
	  font-size: 1.7em;
	}
	.text-center h4 {
	  margin-right: -2em;
	}
	.detail-page h4 {
	  margin: 0em -2em 0 0;
	}
	.detail-page-logo {
	  margin: 5em 0 0 0;
	}
	.detail-page input[type="text"] {
	    width: 30%;
	  font-size: 14px;
	}
	.detail-page textarea {
	    font-size: 14px;
	  margin: 0.5em 0;
	}
	.detail-page input[type="email"] {
	  font-size: 14px;
	}
	.detail-page-form-right {
	  margin-top: 3em;
	  text-align: center;
	}
	p.footer-info {
	   margin: 0px 0 20px 20px;
  		font-size: 0.875em;
	}
	span.menu {
	  margin: 26px 0 0 21px;
	}
	.detail-page-logo img {
	  width: 139px;
	}
	.middl-text h1 {
	  font-size: 3.3em;
	}
	.team-grid-left,.team-grid-center {
	  width: 47%;
	}
	.team-grid {
	  margin-left: 19px;
	}
	.team-grid-left,.team-grid-center {
	  width: 100%;
	  margin-left: 0;
	}
}
@media (max-width: 414px){
	.container {
	  width: 396px;
	}
	.middl-text h1 {
	  font-size: 2.7em;
	}
}
@media (max-width: 384px){
	.container {
	  width: 367px;
	}
	.middl-text h1 {
	  font-size: 2.5em;
	}
}
@media (max-width: 375px){
	.container {
	  width: 357px;
	}
}
@media (max-width: 320px){
	.container {
	    width: 303px;
 		 padding: 0 12px;
	}
	.title.title-1 {
	   font-size: 1em;
	}
	.banner-right-text h3 i {
	  font-weight: 500;
	  font-size: 12px;
	  color: #FFFFFF;
	}
	.banner-right-text h3 span {
	  margin: 0 9px;
	  font-weight: 600;
	  font-size: 15px;
	}
	.middl-text img {
	  width: 70%;
	  margin-left: 3em;
	}
	.middl-text {
		visibility: hidden;
	  width: 54%;
	}
	.relative h4 {
	   right: 37%;
	}
	.row_10 {
	  padding: 0;
	}
	.row-2 {
	  padding: 0;
	}
	.detail-page-logo {
	  margin: 4em 0 0 0;
	}
	.detail-page-logo img {
	  width: 50%;
	}
	.detail-page-top-one h6 {
	  width: 100%;
	  line-height: 1.5em;
	}
	.detail-page-top-one p {
	  width: 100%;
	}
	.detail-page-top-right form input[type="text"] {
	  width: 100%;
	}
	.detail-page-top-right {
	  padding: 0;
	}
	.footer {
	  padding: 1em 0 1em;
	}
	.banner {
	  min-height: 114px;
	}
	.middl-text2 {
	  padding: 1em 0;
	}
	.row {
	  width: 100%;
	  margin: 0 auto;
	  text-align: center;
	}
	.col-lg-4.col-md-4.col-sm-12.col-xs-12 {
	  padding: 0;
	}
	.detail-page-top-one:nth-child(3) {
	  padding-bottom: 1.2em;
	}
	ul.list.list-4 li {
	  text-align: left;
	}
	ul.list.list-1 li {
	  text-align: left;
	}
	.detail-page {
	  padding-bottom: 1em;
	}
	p.simple-text {
	  padding-bottom: 2.1em;
	}
	.middl-text2 img {
	  width: 35%;
	}
	.detail-page h4 {
	  font-size: 1.2em;
	   margin: 0 0 .5em 0;
	}
	.detail-page-form-left {
	  padding: 0;
	}
	.detail-page-form-left p {
	  font-size: .875em;
	  margin: 0 auto 0em;
	}
	.detail-page-form-left h5 {
	  font-size: 1.2em;
	    margin: 1.2em 0 .5em;
	}
	.detail-page-form-right {
	  margin: 1.5em 0 0;
	}
	.detail-page input[type="text"] {
	  width: 100%;
	  font-size: .87em;
	    margin-bottom: 1em;
	}
	.detail-page input[type="email"] {
	  font-size: .875em;
	  width: 100%;
	  margin-bottom: 1em;
	  margin-left: 0;
	}
	.detail-page input[type="submit"] {
	  width: 56%;
	}
	.top-menu ul {
	  top: 12%;
	}
	.list.list-4 .wrapper {
	  font-size: .875em;
	}
	.box.box-2 h6 {
	  font-size: .875em;
	    margin: 15px 0 0 0;
	}
	.box.box-2 h6 + p {
	  font-size: .875em;
	}
	p.footer-info {
	  margin: 0px 0 19px 0;
	  font-size: 0.9em;
	  text-align: center;
	  line-height: 1.8em;
	}
	.detail-page h2 {
	  font-size: 1.7em;
	  padding: 1em 0 .4em;
	}
	.detail-page {
	  padding: 0em 0 2em;
	}
	.middl-text h1 {
	  font-size: 2.5em;
	}
	.middl-text2 a h2 {
	  font-size: 3.3em;
	}
}
/*--/responsive--*/